a:link {
    color:aquamarine;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color:blueviolet;
    background-color: transparent;
    text-decoration: none;
}

button {
    background-color:rgb(0, 0, 22);
    color:azure;
}

body {
    background-color: black;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}

.centered {
    text-align: center;
}

.fairfax {
    font-family: Fairfaxpona;
}

@font-face {
    font-family: Fairfaxpona;
    src: url('FairfaxPonaHD.ttf');
}

.button {
    font-size: 14px;
    text-decoration: none;
    background-color:black;
    margin: 20px 0px 20px 0px;
    padding: 0px 5px 0px 5px;
    border-top: 2px solid #fff;
    border-right: 2px solid #333333;
    border-bottom: 2px solid #333333;
    border-left: 2px solid #fff;
}

a:link.button {
    color:azure;
    background-color: transparent;
    text-decoration: none;
}

a:visited.button {
    color:azure;
    background-color: transparent;
    text-decoration: none;
}
