a:link {
    color:aquamarine;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color:blueviolet;
    background-color: transparent;
    text-decoration: none;
}

button {
    background-color:rgb(0, 0, 22);
    color:azure;
}

body {
    background-color: black;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}

.centered {
    text-align: center;
}

.fairfax {
    font-family: Fairfaxpona;
}

@font-face {
    font-family: Fairfaxpona;
    src: url('FairfaxPonaHD.ttf');
}